
.Chessboard {
    width: 100%;
    height: 100%;
}


.Chessboard td,
.Chessboard th {
    width: 10%;
    height: 10%;
    padding: 0;
    box-sizing: border-box;
    vertical-align: center;
    text-align: center;
}

