.Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #242424;
    color: #a5a5a5;
    height: 32px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.Footer a {
    color: #a5a5a5;
    text-decoration: none;
}

.Footer a:hover {
    text-decoration: underline;
}

.Footer .Popup {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 32px;
    text-align: left;
    color: rgba(250, 250, 250, 1);
    background: rgba(25, 25, 25, 0.75);
    padding: 1em;
}

.Footer .PopupButton {
    cursor: pointer;
}