.Options {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Options #start {
    width: 100%;
    border: none;
    background: transparent;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    height: 42px;
    margin-bottom: 21px;
    padding: 0 2em;
}

.Options #start:hover {
    background: #0BD600;
}

.Options #start:active {
    background: #034400;
}

.Options #start[disabled] {
    color: #aeaeae;
    cursor: auto;
    background: transparent;
}

.Options .DelayControl {
    display: flex;
    flex-flow: column nowrap;
    height: 42px;
    color: #aeaeae;
}

@media screen and (max-width: 700px) {
    .Options {
        flex-flow: row nowrap;
        align-items: start;
    }
}
