.App {
    text-align: center;
}

.AppHeader {
    font-size: 2em;
    line-height: 2em;
}

.BoardContainer {
    width: 80vw;
    height: 80vw;
    max-width: 80vh;
    max-height: 80vh;
    margin: auto;
}